body{
    background-color: black;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: darkorange;
    height: 47px;
    margin-top: 30px;   
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
h3{ 
    color: white;
    text-align: center;
}
a {
    text-decoration: none;
  }
   
  nav {
    font-family: monospace;
  }
   
  ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
   
  li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
     
  li a {
    color: #fff;
  }
   
  li:hover {
    background: red;
    cursor: pointer;
  }
   
  ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
   
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
   
  ul li ul li {
    clear: both;
    width: 100%;
  }
  .dropdown2{
    margin-left: 128px;
    margin-top: -31px;
    width: 70%;
  }
  .dropdown3{
    margin-left: 122px;
    margin-top: -31px;
    width: 75%;
}