h1 {
  text-align: center;  
  font-family: 'Montserrat', sans-serif; 
}
body {
    background-color: palegreen;
}
.head{
    margin-left: 200px;
    width: 420px;
    height: 240px;
    
}
.top{
    background-color: red;
    width: 420px;
    height: 80px;
}
.mid{
    background-color: green;
    width: 420px;
    height: 80px;
}
.bottom{
background-color: blue;
width: 420px;
height: 80px;
}
.middle{
    margin-top: 25px;
    margin-left: 200px;
    width: 420px;
    height: 240px;   
}
.top1{
    background-color: red;
    width:140px;
    height: 80px;
    display: flex;
    float: left;
}
.top2{
    background-color:green;
    width:140px;
    height: 80px;
    display: flex;
    float: left;
}
.top3{
    background-color:blue ;
    width:140px;
    height: 80px;
    display: flex;
    float: left;
}
.mid2{
    background-color:yellow ;
    width:420px;
    height: 80px;
    display: flex;
    margin-top: 50px;
}
.bottom1{
    background-color: gray;
    width:210px;
    height: 80px;
    display: flex;
    float:left
}
.bottom2{
    background-color: black;
    width:210px;
    height: 80px;
    display: flex;
    float: left;
}
.footer{
    width: 570px;
    height: 180px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: mediumspringgreen;
}
.red{
    width: 150px;
    height: 140px;
    background-color: red;
    margin: 20px;
    display: flex;
    float: left;
}
.green{
    width: 150px;
    height: 140px;
    background-color: green;
    margin: 20px;
    display: flex;
    float: left;
}
.blue{
    width: 150px;
    height: 140px;
    background-color: blue;
    margin: 20px;
    display: flex;
    float: left;
}
