.header{
    text-align: center;
    background-color: black;
    color: white;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: auto;
    text-align: center;
    background-color: black;
    color: white;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table1{
    background-color: yellow;
    color: black;
    height: 640px;
    width: 30%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
p {
    margin-left: 30px;
}
.table2{
    background-color: olivedrab ;
    color: white;
    height: 640px;
    width: 70%;
    margin-left: 30%;
    margin-top: -640px;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
}
.imgn{
    background: url(https://senior.ua/storage/article/762c41fe-0358-4b32-b960-9c401e8070a2.jpeg);
    width: 377px;
    height: 300px;
    align-items: center;
    
}
.mini1{
    background-color: black;
    width: 230px;
    height: 170px;
    align-items: flex-end;
    margin-right: 780px;
    display: flex;
    float: left;
}
.mini2{
    background-color: black;
    width: 230px;
    height: 170px;
    align-items: flex-end;
    margin: 0;
    margin-top: -170px;
    display: flex;
    float: left;
}
.mini3{
    background-color: black;
    width: 230px;
    height: 170px;
    align-items: flex-end;
    margin-left: 780px;
    margin-top: -170px;
    display: flex;
    float: left;
}
.mini1:hover{
   background: orange;
   color: orange;
}
.mini2:hover{
    background: orange;
    color: orange;
 }
 .mini3:hover{
    background: orange;
    color: orange;
 }
 p:hover{
     font-size: 140%;
 }
 

