body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt ;
    background-color:ivory;
    color: black;
}
h1 {
    text-align: center;
    color: black;
    font-size: 24pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h3{
    text-align: center;
    color: black;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold ;

}
p {
    padding: 20px;
    border-left: blue solid 5px;
    height: 40px;
    margin-left: 500px;
    margin-top: 10px;
}
p:hover {
    border-left: lightgreen solid 5px;
}
