body{
    display: flex;
    flex-direction: row;
    background-color: beige;
    height: 3000px;
}
.table1{
    margin-top: 200px;
    display: flex;
    position: static;
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.table2{
    top: 10px;
    margin-top: 350px;
    display: flex;
    position: sticky;
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.table3{
    margin-top: 400px;
    display: flex;
    position: absolute;
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.table4{
    margin-left: -350px;
    margin-top: 150px;
    display: flex;
    position: relative;
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.table5{
    display: flex;
    position: fixed;
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
}