body{
    font-family: 'Montserrat', sans-serif;
}
.block{
    margin-left: 300px;
    transition:0.5s;
    width: 252px;
}
.block2{
    margin-left: 560px;
    margin-top: -238px;
    transition:0.5s;
    width: 252px;
}
.block3{
    margin-left: 300px;
    transition:0.5s;
    width: 252px;
}
.block4{
    margin-left: 560px;
    margin-top: -237px;
    transition:0.5s;
    width: 252px;
}
.block5{
    margin-left: 560px;
    transition:0.5s;
    width: 252px;
}
.block:hover{
    box-shadow: 0px 0 10px 3px rgba(0,0,0,0.5);
    width: 252px;
}
.block2:hover{
    box-shadow: 0px 0 10px 3px rgba(0,0,0,0.5);
    width: 252px;
}
.block3:hover{
    box-shadow: 0px 0 10px 3px rgba(0,0,0,0.5);
    width: 252px;
}
.block4:hover{
    box-shadow: 0px 0 10px 3px rgba(0,0,0,0.5);
    width: 252px;
}
.block5:hover{
    box-shadow: 0px 0 10px 3px rgba(0,0,0,0.5);
    width: 252px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 1000px;
    margin-left: 200px;
}
.job1001{
    width: 250px;
}
.job978{  
    width: 250px;
}
.job1002{ 
    width: 250px;
}
.job979{ 
    width: 250px;
}
.job1000{
    width: 250px;
}
.num{
    margin-left: 205px;
    position: absolute;
}
.num2{
    margin-left: 210px;
    position: absolute;
}
.num3{
    margin-left: 203px;
    position: absolute;
}
.num4{
    margin-left: 210px;
    position: absolute;
}
.num5{
    margin-left: 203px;
    position: absolute;
}
h2{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
.bot{
    margin-top: 20px;
    width: 250px;  
    border: 1px solid white; 
    border-top:1px solid lightgray ;
}
h4{
    margin-left: 60px;
}
.avatar1 {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.avatar2 {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar3 {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar1:hover{
    transform: scale(1.2);
}
.avatar2:hover{
    transform: scale(1.2);
}
.avatar3:hover{
    transform: scale(1.2);
}